<config xmlns="http://tail-f.com/ns/config/1.0">
  <devices xmlns="http://tail-f.com/ns/ncs">
    <global-settings>
      <connect-timeout>20</connect-timeout>
      <read-timeout>500</read-timeout>
    </global-settings>
    <authgroups>
      <group>
        <name>dnsmaster</name>
        <default-map>
          <remote-name>{{ nso_remote_user }}</remote-name>
          <public-key>
            <private-key>
              <file>
                <name>{{ master_key }}</name>
              </file>
            </private-key>
          </public-key>
        </default-map>
      </group>
    </authgroups>
    <device>
      <name>master</name>
      <address>{{ master_ip }}</address>
      <ssh>
        <host-key>
          <algorithm>ssh-rsa</algorithm>
          <key-data>{{ host_key }}</key-data>
        </host-key>
      </ssh>
      <description>TGT: APN app+sudo Linux</description>
      <authgroup>dnsmaster</authgroup>
      <port>22</port>
      <device-type>
        <generic>
          <ned-id xmlns:unix-bind-id="http://tail-f.com/ned/unix-bind-id">unix-bind-id:unix-bind</ned-id>
        </generic>
      </device-type>
      <state>
        <admin-state>unlocked</admin-state>
      </state>
    </device>
    <device>
      <name>target1</name>
      <address>{{ target1_ip }}</address>
      <description>TGT: APN app+sudo Linux</description>
      <authgroup>dnsmaster</authgroup>
      <device-type>
        <generic>
          <ned-id xmlns:unix-bind-id="http://tail-f.com/ned/unix-bind-id">unix-bind-id:unix-bind</ned-id>
        </generic>
      </device-type>
      <state>
        <admin-state>southbound-locked</admin-state>
      </state>
    </device>
    <device>
      <name>target2</name>
      <address>{{ target2_ip }}</address>
      <port>22</port>
      <description>TGT: APN root+facl Linux</description>
      <authgroup>dnsmaster</authgroup>
      <device-type>
        <generic>
          <ned-id xmlns:unix-bind-id="http://tail-f.com/ned/unix-bind-id">unix-bind-id:unix-bind</ned-id>
        </generic>
      </device-type>
      <state>
        <admin-state>southbound-locked</admin-state>
      </state>
    </device>
  </devices>
</config>
