<config xmlns="http://tail-f.com/ns/config/1.0">
  <inventory xmlns="http://att.cisco.com/inventory">
    <network-service>
      <name>EAST</name>
      <data-center>
        <name>DC1</name>
        <dns-server>
          <name>master</name>
          <type>APN</type>
          <os>Linux</os>
          <owner>non-Root</owner>
        </dns-server>
      </data-center>
      <data-center>
        <name>DC2</name>
        <dns-server>
          <name>target1</name>
          <type>APN</type>
          <os>Linux</os>
          <owner>non-Root</owner>
        </dns-server>
      </data-center>
      <data-center>
        <name>DC3</name>
        <dns-server>
          <name>target2</name>
          <type>APN</type>
          <os>Linux</os>
          <owner>Root</owner>
        </dns-server>
      </data-center>
    </network-service>
  </inventory>
</config>
